/* Font Face */
@font-face {
    font-family: "Monserrat";
    src: url("../assets/monserrat.woff") format("woff");
}

/* Elements */
body {
    background: rgb(22, 22, 22);
    padding: 0px;

    overflow: hidden;
}

input {

    background: rgb(22, 22, 22);
    height: 30px;
    width: calc(100% - 16px);

    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;

    border-style: solid;
    border: 2px, rgb(32, 32, 32);
    border-radius: 5px;
}

/* Classes */
.subtitle {
    font-family: "Monserrat";
    font-size: 17px;
    font-weight: 100;
    color: white;
}

/* IDs */
#logo {
    width: 210px;
    height: 210px;

    position: absolute;
    left: calc(50% - 105px);
    top: -25px;
}

#login-form {

    padding: 0px;

    position: absolute;

    top: 100px;
    left: 10px;
    left: calc(50% - 130px);

    width: 260px;
}