/* Elements */
input {
    width: calc(100% - 42px);
    transition: 0.5s;

    margin-top: 20px;
    padding-left: 28px;
}

input:focus {
    border: 1px solid rgb(200, 200, 200);
}

/* Classes */
.subtitle {
    font-weight: 500;

    color: rgb(204, 204, 204);

    margin-top: 30px;
    margin-bottom: 0px;
}

.input-icon {
   width: 17px;
   height: 17px;

   position: absolute;
   left: 7px;
}

.divider {
    margin-top: 30px;
    margin-bottom: 30px;

    border: none;
    background: rgb(59, 59, 59);

    width: 100%;
    height: 1px;
}

/* IDs */
#email-icon {
    top: 31px;

    filter: brightness(60%);
}

#avatar-icon {
    top: 91px;

    filter: brightness(70%);
}

#lock-icon {
    top: 149px;

    filter: brightness(80%);
}

#login-prompt {

    background: rgb(22, 22, 22);

    position: absolute;
    top: 210px;

    width: 100px;
    left: calc(50% - 50px);

    text-align: center;
    margin-top: -10px;

}

#logo {
    width: 290px;
    height: 290px;

    position: absolute;
    left: calc(50% - 145px);
    top: -50px;
}

#login-form {
    padding: 0px;
    position: absolute;

    top: 150px;
    left: calc(50% - 120px);
    width: 240px;
}

#submit {
    margin-top: 0px;
    
    width: 100%;
    height: 40px;

    border: none;
    outline: none;

    color: white;
    background: rgb(88, 143, 88);

    border: 2px solid rgb(88, 143, 88);
    border-radius: 3px;

    cursor: pointer;
    transition: 0.5s;
}

#submit:hover {
    border: 2px solid rgb(148, 189, 148);
    background: rgb(148, 189, 148);
}